{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block bread_crumb %}
    <ol class="breadcrumb">
        <li><a href="/indicators/home/{{ program_id|default:0 }}/0/0/">Indicators</a></li>
        <li class="active">Indicator Form</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                <div id="numDataPoints" style="display: none;">{{ object.collecteddata_set.all.count }}</div>
                <div id="initialTargetFrequencyValue" style="display:none;">{{ object.target_frequency }}</div>
                {% if i_name %}
                    <div class="row">
                        <h4 class="text-left m-0">
                            {% if indicator.level.all %}
                                {{ indicator.level.all|join:', ' }} indicator:
                            {% endif %}
                            {{ i_name|truncatechars:300 }}
                        </h4>
                    </div>
                {% endif %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <strong><i>{{ field.label }}</i> - {{ error|escape }}</strong>&nbsp;
                            {% endfor %}
                        {% endfor %}
                    </div>
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <form action="{% url 'indicator_update' indicator.id %}" class="form-horizontal" method="post"
                      novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Save changes</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                    <div>{% include "form_guidance.html" %}</div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}

<script type="text/javascript">
    //Searchable select option for service indicator
    $(document).ready(function () {
        /* add select2 js library to the indicator select box */
        $("#id_program").select2().on("select2:selecting select2:unselecting", function (e) {
            e.preventDefault();
        });
        $("#id_strategic_objectives").select2();
    });
</script>
